canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  font-family: Verdana, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  position: relative;
  width: 100%;
  color: black;
  z-index: 99;
  position: absolute;
  width: 90%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 2/ span 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section {
  grid-column: 2 /span 4;
  justify-content: space-evenly;
  padding: 1.5rem;
  font-size: 1.15rem;
  margin-bottom: 250px;
  margin-top: 200px;
  margin-left: 0px;
  line-height: 1.5;
  background-color: rgba(9, 58, 31, 0.979);
  color: rgb(236, 233, 233);
}

#portfolioWrapper {
  grid-column: 2 /span 4;
  top: 0;
  bottom: 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.619);
  border: 2px solid rgb(81, 81, 81);
  border-radius: 10px;

}

h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}

body {
  height: 200vh;
}

.side-panel-toggle {
  position: absolute;
  right: 0;
  transform: translateY(10%);
  background-color: black;
  color: rgb(255, 255, 255);
  border: none;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.side-panel-toggle:hover {
  background: rgb(27, 27, 27)
}

.project-side-panel {
  top: 10%;
  position: absolute;
  left: 41.53%;
  background: rgba(0, 0, 0, 0.927);
  padding: 20px;
  color: rgb(236, 233, 233);
  width: 65%;
  border-right: 2px solid rgb(81, 81, 81);
  border-top: 2px solid rgb(81, 81, 81);
  border-bottom: 2px solid rgb(81, 81, 81);
  display: none;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(81, 81, 81) rgb(0, 0, 0);
}

.project-side-panel img {
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
  vertical-align: top;
}

/* different side panel toggle states */
.sp-icon-close {
  display: none !important;
}

.side-panel-open .project-side-panel {
  display: initial;
}

.side-panel-open .sp-icon-open {
  display: none !important;
}

.side-panel-open .sp-icon-close {
  display: initial !important;
}